@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.collapse{
 display: flex;
 height: 10vh;
 justify-content: space-around;
}
nav img{
  height: 10vh;
  border-radius: 50%;
  width:auto;
}
.navbar-nav{
  display: flex;
  justify-content: space-between;
  font-size: large;
}
body{
  display: flex;
  flex-direction: column;
font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: normal;
}
#Home{
      background-image: url('https://img.pikbest.com/back_our/bg/20200903/bg/6eb26b8b920cc_398070.jpg!w700wp');
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.heading{
  width:70%;
}
.heading button{
   padding: 1em;
}
.heading .h1{
  color: #f95959;
  font-size: 3em;
}
.heading #display{
  font-size: larger;
}
figure img{
  width:100vw;
}
#EducationalPgms{
  display: grid;
  grid-template-columns: repeat(3,25%);
  gap:1em;
  justify-content: center;
}
#EducationalPgms article{
  color:#393e46;
}
#Education, #About, #coursePage{
   background-color: #ececec;
}
ol li{
  list-style: none;
  position: relative;
  right:2em;
}
#aboutheading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Programs p, ol li, #services article p, #aboutheading p, #courses p{
    font-weight: 500;
    font-size: medium;
    color:#393e46;
}
#EducationalPgms article h4, #Programs h1, #services h3{
  color:purple;
  font-weight: bolder;
}
#EducationalPgms article span{
  font-size: smaller;
  color:#f95959;
}
#Programs{
  display: flex;
  padding: 5em 0;
  flex-direction: column;
  align-items: center;
}
#services{
  display: grid;
  grid-template-columns: repeat(3,30%);
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap:1em;
}
#services p{
  max-width: 70%;
  text-align: justify;
}
#aboutheading h2{
      color: purple;
      font-family: "Playwrite DE Grund", cursive;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
}
 #services article h3{
    color: purple;
    font-family: "Playwrite DE Grund", cursive;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-size: large;
}
#coursePage h2{
  color: darkred;
  font-weight: bold;
  text-align: center;
}
#courses{
  display: grid;
  grid-template-columns: repeat(2,25%);
  justify-content: center;
  margin-top: 2em;
  padding: 1em 0;
   background-color: #222831;
}
#courses h5{
  color: #f95959;
  font-weight: 500;
}
#courses p{
  color:#f2f2f2;
  font-weight: 300;
  max-width: 60%;
}

#coursePage, #About{
  padding: 5em 0;
}


#contact {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #95565e;
  color: #f2f2f2;
  font-weight: 500;
  height: 40vh;
  padding: 2em 0;
}
#contact span{
   font-size: x-large;
   color:#f2f2f2;
}
#contact input{
  width:20vw;
  margin-left: 1em;
}
#submit {
  background-color: lightgreen;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
}
a{
  text-decoration: none;
}
footer {
  background-color: #222831;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: large;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
