
#projects {
  margin-top: 7vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
}

.project {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
background: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);
  color: #233142;
  max-height: 40vh;
  overflow-y: auto;
  padding: 1em;
}
.projectInfo{
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  text-align:justify;
  padding: 1em;
}
img{
  width:70px;
  height:50px;
}


 

